*{
    padding: 0;
    margin: 0;
}


body,html{
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}

#side_panel{
    display: flex;
    justify-content: center;
    overflow: auto;
    flex-wrap: wrap;
    width: 30%;
    max-width: 300px;
    background-color: none;
    height: 110%;
    margin-top: -2%;
    position: relative;
    margin-left: -2%;
   background-color: #f0743a;
}
#side_panel ul{
    position: absolute;
    width: 100%;
   margin-left: 0;
 top: 15px;
}
#side_panel li{

    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
padding: 3px;
margin-bottom: 0;
}
#side_panel img{
    width: 20%;
    max-width:50px;
  bottom: 0;
  margin-bottom: -9px;
  margin-top: 10px;
  margin-left: 30px;
transition: 1s;
}
#side_panel span{
    position: absolute;
    left: 30%;
    bottom: 0;
font-size: 90%;
}
#side_panel li:hover{
cursor: pointer;
color: white;
}
#side_panel li:hover img{
    -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
right{
    position: absolute;
    right: -30px;
    width: 81vw;
    height: 100vh;
    top: 1px;
   overflow-y: auto;
   overflow-x: hidden;
   background: rgba(0, 0, 0, 0.7) url(../photos/food2.webp)  fixed;
   background-size: cover;
   background-blend-mode: darken;
   
}
.menu{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    font-family:'Poppins', sans-serif;
    padding: 0 10px 30px 10px ;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px , 1fr));
    grid-gap: 20px 40px;
    margin-right: 2%;
    margin-left: 2%;
    
}
.dd{
    display: flex;
    position: relative;
    top: 170px;
    right: -170px;
}
.heading{
    background-color: #e84343;
    color: #fff;
    margin-bottom: 53px;
    padding: 0px 0px;
    grid-column: 1/-1;
    text-align: center;
}
.heading h1{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    transition: .2s ease-in-out;
    bottom: 10px;
}
.food-items img{
    position: relative;
    width: 100%;
    height: 280px;
    border-radius: 15px 15px 0 0 ;
    cursor: pointer;
    left: 10px;
}
.menu h1{
    grid-column: 1/-1;
    text-align: center;
}
.details-m{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub-m{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub-m h5 {
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details-m p {
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.edi{
    background: green;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
    width: 92px;
    position: relative;
    cursor: pointer;
    left: 274px;
    bottom: 63px;
    height: 50px;
}
.del{
    background: #e84343;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.ad{
    background: rgb(225, 190, 74);
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 7px;
    width: 97px;
    position: relative;
    cursor: pointer;
    bottom: 112px;
    height: 48px;
    margin-left: 30%;
   
}
.del:hover{
    background: red;
}
.edi:hover{
    background: #8de02c;
}
.ad:hover{
    background: #3a8ff0;
}
#Account{
    position: relative;
  
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
}
.cardBox{
   

    position: relative;
  
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
   


}

.cardBox .card{
    position: relative;
    background-color: bisque;
    padding: 30px;
    box-shadow: 0 7px 25px rgb(228, 68, 5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 5%;
    padding-bottom: 5px;
   
 


}

.cardBox .card .numbers{
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: #f0743a;

}

.cardBox .card .cardName{
    color: black;
    font-size: 1.1rem;
    margin-top: 5px;

}

.cardBox .card .iconBx{
    font-size: 3.5rem;
    color: #f0743a;
}

.cardBox .card:hover{
    background-color:#f0743a
}
.cardBox .card:hover .numbers,.cardBox .card:hover .iconBx{
    color: rgb(0, 0, 0);
}
.details{
   
    margin-left: -5%;
    position: relative;
    width: 100%;
    padding: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
  
   
  
    
   
} 

.details .recentOrders{
  
    position: relative;
    display: grid;
    min-height: 500px;
   background-color:antiquewhite;
    padding: 20px;
    box-shadow: 0 10px 25px rgb(232, 76, 3);
    border-radius: 20px;
    
   
   
}

.details  .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   

}

.cardHeader h2{
    font-weight: 600;
   color: coral;

}

.cardHeader .btnv{
    position: relative;
    padding: 5px 10px;
    background-color: rgb(230, 142, 35);
    text-decoration: none;
    color: black;
    border-radius: 6px;

}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

.details table thead td{
    font-weight: 600;

}

.details .recentOrders table tr{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);


}

.details .recentOrders table tbody tr:hover{
    background-color: coral;
    color: antiquewhite;

}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tr td{
    padding: 10px;

}

.details .recentOrders table tr td:last-child{
    text-align: end;
}

.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}

.details .recentOrders table tr td:nth-child(3){
    text-align: center;
}
.delivered{
    padding: 2px 4px;
    background: #8de02c;
    color: antiquewhite;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.pen{
    padding: 2px 4px;
    background: #fd1d04;
    color: antiquewhite;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.ret{
    padding: 2px 4px;
    background: #f0743a;
    color: antiquewhite;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.in{
    padding: 2px 4px;
    background: #3a8ff0;
    color: antiquewhite;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.recentCustomers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(228, 68, 5);
    background-color: antiquewhite;
    border-radius: 20px;
    
    margin-right: 5%;


}


.recentCustomers .imgBx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

.recentCustomers .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.recentCustomers table tr:hover{
    background-color: #f0743a;
    color:antiquewhite;

}

.recentCustomers table tr td{
   
    padding: 12px 10px;

}
.recentCustomers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2rem;

}
.recentCustomers table tr td h4 span{
    font-size: 14px;
    color: black;
}