/* Slide Show */

.slideShow{
    position: relative;
}
.slideShow .wrapper{
    width: 60vw;
    height: 75vw;
    box-shadow: 10px;
    margin: auto;
}
.mySlides {
    display: none;    
    width: 30%;
}
