/* Slide Show */
body{
    background: rgba(0, 0, 0, 0.7) url(Images/food2.webp) fixed;   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    line-height: 1.8;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

* {
    padding: 0;
    margin: 10px;
    margin-top: 200px;
}
body, html {
    line-height: 1.8;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
.side_panel {
    width: 400px;
    height: 350px;
    margin: auto;
    background-color: rgb(183, 195, 205);
    border-radius: 30px;
    opacity: 80%;
}
.side_panel ul{
    width: 40%;
    margin-left: 0;
}
.side_panel a{
    margin-top: 70px;
    margin-bottom: 60px;
    position: relative;
    margin-left: 100px;
    bottom: 0;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.side_panel a:hover{
    cursor: pointer;
    color: white;
}
button {
    width: 200px;
    height: 35px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 24px;
    border: none;
    background-color: rgb(57, 57, 227);
    color: aliceblue;
    font-size: 20px;
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover{
    cursor: pointer;
    color: white;
}